/* 
   This is a custom CSS for Sphinx to use with classic theme 
   When I wrote this CSS there were also the following configurations
   in conf.py:

    html_theme_options = {
                        'stickysidebar':True,
                        'bodyfont':'courier new',
                        'bgcolor':'#000000',
                        'textcolor':'#EBEBEB',
                        'linkcolor':'#1ECE00',
                        'visitedlinkcolor':'#00AC01',
                        'codetextcolor':'#64FF8B',
                        'codebgcolor':'#282828',
                        'sidebarbgcolor':'#1F1F1F',
                        'sidebartextcolor':'#00A941',
                        'sidebarlinkcolor':'#00FF40',
                        'footerbgcolor':'#000000',
                        'footertextcolor':'#00FF40',
                        'relbarbgcolor':'#000000',
                        'relbartextcolor':'#00A941',
                        'relbarlinkcolor':'#00FF40',
                        'headbgcolor':'#5B635E',
                        'headtextcolor':'#C1FFC3'
                    }

*/
html {
    background:#000000 !important;
}
.headerlink {
    color:#00D908 !important;
}
.headerlink:hover {
  background:#00D908 !important;
  color:#ffffff !important;
}
code {
    background:#000000;
    color:#64FF8B;
    font-size:1.1em;
    border:solid #64FF8B 1px !important;
}
code.xref {
    color:#EBEBEB;
    background:#00A941 !important;
}
input[type=text] {
    background:#B0B0B0;
}
input[type=submit] {
    background:#000000;
    color:#00FF40; 
    cursor:pointer;
}
div.modindex-jumpbox, div.genindex-jumpbox {
    color: #00FF40;
    border-top: 1px solid #00FF40;
    border-bottom: 1px solid #00FF40;
}
tr.cap {
    color:#00A941 !important;
    background:#333333 !important;
}
dl.method {
    padding:3px;
    border-right:solid #334C43 1px;
    border-bottom:solid #334C43 1px;
}
dl.field-list > dt {
    background:#2e3e2f;
}
dl.field-list > dd {
    background:#334C43;
    padding-right:6px !important
}
div.body {
    max-width: 1000px !important;
}
div.body p {
    padding-right:6px;
}
div.related {
    position: relative;
}
dt:target {
    background:#fbe54e;
    color:#000000 !important;
}
div.highlight pre {
    border: 1px solid #64FF8B;
    border-left: none;
    border-right: none;
}
